* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'montserrat' , sans-serif;
    color: white;
}
.wrapper {
background-color: black;
width: 450px;
background-size: cover;
margin: auto;
margin-top: 20px;
padding: 50px 20px;
}

.wrapper h1 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 2px;
    word-spacing: 10px;
    margin-bottom: 40px;
}
.mb10 {
    margin-bottom: 20px;
}

.mb3 {
    margin-bottom: 3px;
}

.d-block {
    display: block;
}

.w100 {
    width: 100%;
}

.hobbies {
    border: 1px solid;
    padding: 5px;
}
